[submodule "TrivialAPI"]
	path = Submodules/TrivialAPI
	url = https://github.com/Fleuronic/TrivialAPI
[submodule "TrivialService"]
	path = Submodules/TrivialService
	url = https://github.com/Fleuronic/TrivialService
[submodule "TrivialDatabase"]
	path = Submodules/TrivialDatabase
	url = https://github.com/Fleuronic/TrivialDatabase
